@import "tailwindcss";
@utility container{
 margin:0 auto; 
 padding: 30px;
}
@theme{
    --color-primery:#042352;
    --color-secendery:#F45E0C;
    --color-primery500:#063A88;
    --color-neutralgray:#717171;
    --color-neutrallightgray:#CBCBCB;

}